<div id="formcontainer">
	<form id="contactForm">
		<input id="objectId" placeholder="id" value="{{attributes.objectId}}" />
		<input id="Likes" placeholder="likes" value="{{attributes.Likes}}" />
	  <p> <input id="title" placeholder="Title" value="{{attributes.Title}}" /> </p>
	  <p> <input id="url" placeholder="Picture Url" value="{{attributes.Url}}" /> </p>
	  <p> <textarea id="desc" placeholder="Description"> {{attributes.Description}} </textarea> </p>
	<div id="editbutton"><a id="submitlink" href="">Submit</a></div>
</form> 
</div>